.range-slider {
  position: relative;
  width: 100%;
  padding: 1rem;
  background: #d2b48c; /* Keep the wood-like background */
  border: 1px solid #8b4513; /* Keep the dark edges */
  border-radius: 8px;
  box-shadow: inset 0 0 10px #8b4513; /* Depth effect for a more medieval look */
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #8b4513; /* Match the theme */
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #deb887; /* Keep the theme */
  border: 1px solid #8b4513;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #deb887;
  border: 1px solid #8b4513;
  border-radius: 50%;
  cursor: pointer;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  color: #8b4513; /* Ensure text color fits the overall theme */
  font-family: "Cinzel", serif; /* Keep font consistency */
}
