/* src/App.css */
.vintage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.vintage-header {
  font-family: "Cinzel Decorative", serif;
  font-size: 2.5rem;
  color: #704214;
  margin: 3%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

.globe-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.icon-bar-container {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.vintage-footer {
  font-family: "Cinzel Decorative", serif;
  color: #704214;
  margin: 3%;
  text-align: center;
}
