/* src/index.css */
@import "./styles/tailwind.css";

body {
  margin: 0;
  font-family: "Cinzel", serif; /* Updated to Cinzel for a medieval look */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.vintage-container {
  background: rgba(240, 230, 210, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.vintage-header {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Cinzel Decorative", serif;
  font-size: 2.5rem;
  color: #704214;
}

.vintage-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.vintage-button {
  background-color: #704214;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-family: "Cinzel", serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vintage-button:hover {
  background-color: #3b2f2f;
}

.vintage-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.vintage-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("/home/shon/Desktop/women-in-stem-globe/public/parchment.jpg")
    no-repeat center center;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  z-index: 1000;
  display: none;
}

.vintage-modal.show {
  display: block;
}

.collapsible {
  cursor: pointer;
}

.collapsible-content {
  display: none;
  padding: 10px;
}

.collapsible-content.show {
  display: block;
}

.icon {
  margin-right: 5px;
}

.observed-element {
  min-width: 100px;
  min-height: 100px;
  max-width: 800px;
  max-height: 800px;
}
